{% extends 'BookBarnApp/base.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}


<div class="container mainContainer">
    <div class="row">
        <div class="col" style="text-align:center">
            <h4>Your Order History</h4><hr>
        </div>
    </div>
    {% for cart in carts %}
    <div class="row">
        <div class="col-6 orderDetails">
            <h5><span class="detailBold">Order ID : {{ cart.id }}</span></h5>
            <h6><span class="detailBold">on</span> {{ cart.order_date }}</h6>
            <h6><span class="detailBold">Amount Paid:</span> &#8377;{{ cart.total }}</h6>
            <h6><span class="detailBold">Payment Type:</span> {{ cart.payment_style }}</h6>
        </div>
        <div class="col-6 orderDetails">
            <h6><span class="detailBold"><span class="detailBold">Delivery Address:</span></h6>
            <h6><span style='white-space:pre-line'>{{ cart.delivery_address }}</span></h6>

            <a href="{% url 'ProfileApp:orderDetailsView' cart.id %}">
                <h6>Click here for Details</h6>
            </a>
        </div>
    </div>
    <hr>
    {% empty %}
      <div class="row">
        <div class="col">
            <h6>No Purchase history!</h6>
        </div>          
      </div>
    {% endfor %}
</div>

{% endblock %}