{% extends 'BookBarnApp/base.html' %}


{% block head_block %}

{% endblock %}


{% block body_block %}


    <div class="container mainContainer">
        {% if request.user.is_authenticated %}

            <div class="row">
                <div class="col profileHead">
                    <h4>Hello, {{ request.user.first_name }}</h4> <hr>
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center">
                    {% if message %}
                    <h6>{{ message }}</h6><br />
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col profileOption">
                        <a href="{% url 'ProfileApp:updateProfileView'%}" class="profileOptionLink"><button class="profileOptionButton">Update Profile</button></a>
                </div>

                <div class="col profileOption">
                    <a href="{% url 'ProfileApp:orderHistoryView'%}" class="profileOptionLink"><button class="profileOptionButton">Order History</button></a>
                </div>

                <div class="col profileOption">
                    <a href="{% url 'ProfileApp:updatePasswordView'%}" class="profileOptionLink"><button class="profileOptionButton">Change Password</button></a>
                </div>
            </div>

        {% else %}
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3>You're not logged in.</h3>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}