{% extends 'BookBarnApp/base.html' %}


{% block head_block %}

    <!-- This is the working script which allow only numbers
    Find a suitable place to keep it -->    
    <script type="text/javascript">
        function onlyNumber(id){ 
            var DataVal = document.getElementById(id).value;
            document.getElementById(id).value = DataVal.replace(/[^0-9]/g,'');
        }
    </script>

{% endblock %}


{% block body_block %}


    <div class="container mainContainer">
        {% if request.user.is_authenticated %}
        <div class="row signupPageHeading">
            <div class="col" style="text-align: center;">
                <h4>Update info here!</h4> <hr>
            </div>
        </div>
        <div class="row signupPageForm">
            <div class="col">
                <form id="user_form" method="post" action="{% url 'ProfileApp:updateProfileView' %}">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input class="signupPageButton" type="submit" name="submit" value="Update" />
                </form>
                <a href="{% url 'ProfileApp:profileView' %}"><button class="signupPageButton">Cancel</button></a>
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h4>You're not logged in.</h4>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}