{% extends 'BookBarnApp/base.html' %}


{% block head_block %}

{% endblock %}


{% block body_block %}


    <div class="mainContainer">
        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col">
                <h4>Update info here!</h4><br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="user_form" method="post" action="{% url 'ProfileApp:updateProfileView' %}">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="submit" name="submit" value="Update" />
                </form>
                <a href="{% url 'ProfileApp:profileView' %}"><button class="btn btn-success">Cancel</button></a>
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <h3>You're not logged in.</h3>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}