<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title_block %} BookBarn {% endblock %}</title>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    
    {% block head_block %}

    
    {% endblock %}

</head>
<body>
    
    <!-- Navbar -->
    <nav class="fixed-top navBar">
        <!-- Navbar Brand -->
        <a class="navbarBrand" href="{% url 'homeView' %}"> <strong>BookBarn</strong></a>
        
        <!-- Navbar Links -->
        <a class="navbarLink" href="{% url 'homeView' %}">Home</a>
        <a class="navbarLink" href="{% url 'categoryListView' %}">BrowseBooks</a>

        <!-- Search Form -->
        <form class="navSearchForm" method="GET" action="{% url 'SearchApp:SearchBookView' %}">
            <input class="navSearchInput" type="search"  name="q" value="{{ request.GET.q }}" aria-label="Search" placeholder=" Search for Books here." /><button class="btn navSearchButton" type="submit">Search</button>
        </form>
        
        <!-- Login/Signup -->
        {% if request.user.is_authenticated %}        
            <a class="navLogoutLink" href="{% url 'logoutView' %}"><button class="navButton">Logout</button></a>
            <a class="navUserLink" href="{% url 'ProfileApp:profileView' %}"><button class="navButton">{{ request.user.username }}</button></a>
        {% else %}
            <a class="navSignupLink" href="{% url 'signupView' %}"><button class="navButton">Signup</button></a>
            <a class="navLoginLink" href="{% url 'loginView' %}"><button class="navButton">Login</button></a>
        {% endif %}

        <!-- Cart Logo -->
        {% if request.user.is_authenticated %}  
            <a class="navCartLink" href="{% url 'CartApp:cartHomeView' %}"> <button class="navButton"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
        {% endif %}

        

    </nav>

    {% block body_block %}
    
      <!-- Everything outside this will be inherited. -->

    {% endblock %}
    
</body>
</html>