{% extends "BookBarnApp/base.html" %}
    <!-- Change link above -->

{% block head_block %}

{% endblock %}

{% block body_block %}


<div class="container mainContainer">
    
    <div class="row">
        <div class="col bookDetailsLeftWrapper">
            
                <div class="row">
                    <div class="col">
                        <div class="bookCoverMain">
                            <img class="img-fluid" src="{{ book.coverImage }}" alt="Cover">
                        </div>
                    </div>  
                </div>

                <div class="row tableWrapper">
                    <div class="col">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="bg-success">
                                    <th scope="row">Rating:</th>
                                    <td>
                                        <div class="star-ratings-sprite">
                                            <span style="width:{{ rating_percent }}%" class="star-ratings-sprite-rating"></span>
                                        </div>
                                    </td>                            
                                </tr>
                                <tr class="bg-success">
                                    <th scope="row">Price:</th>
                                    <td>&#8377; {{ book.price }}</td>               
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col addToCartButtonWrapper">
                        {% if book.booksCount == 0 %}
                            <button class="loginPageButton addToCartButton" style="width: 100%">[Out of Stock]</button>
                        {% else %}
                            {% if request.user.is_authenticated %}
                                <!-- This way block superuser's access -->
                                {% if not request.user.is_superuser and not request.user.is_staff %}
                                    <a class="navLoginLink addToCartButton" href="{% url 'CartApp:add_to_cart' book.isbn %}"><button class="loginPageButton" style="width: 100%">Add to Cart</button>
                                    </a>
                                {% else %}
                                    <a class="addToCartButton" href="#"><button class="loginPageButton" style="width: 100%">Add to Cart</button>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a class="navLoginLink addToCartButton" href="{% url 'loginView' %}"><button class="loginPageButton" style="width: 100%">Add to Cart</button>
                                </a>
                            {% endif %}
                
                        {% endif %}
                    </div>                                       
                </div>
        
        </div>

        <div class="col-8 bookDetailsRightWrapper">

                <div class="row">
                    <div class="col">
                        <h3>{{ book.bookTitle }}</h3><hr>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Description: </h4>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Use this pre-line styling for printing '\n' in html file -->
                        <p><span style="white-space: pre-line">{{ book.description }}</span></p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <th scope="row">ISBN:</th>
                              <td >{{ book.isbn }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Language:</th>
                              <td>{{ book.language }}</td>                    
                            </tr>
                            <tr>
                              <th scope="row">No. of Pages:</th>
                              <td>{{ book.pageCount }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Published On:</th>
                              <td>{{ book.publishedDate }}</td>
                            </tr> 
                            <tr>
                              <th scope="row">Books in Stock:</th>
                              <td>{{ book.booksCount }}</td>
                            </tr>            
                          </tbody>
                        </table> 
                    </div>                           
                </div>            
        </div>
    </div>

</div>
        


        


    
{% endblock %}