{% extends "BookBarnApp/base.html" %}
    <!-- Change link above -->

{% block head_block %}

{% endblock %}

{% block body_block %}


<div class="container mainContainer">
    <div class="row">
    	<div class="col">
    		<div class="categoryListWrapper categoryListWrapperCenter">
    			<ul class="categoryList">
			        {% for category in categories %}
			         <a class="categoryListLink" href="{% url 'categoryView' gid=category.gid %}"><li class="categoryListItem">{{ category.gName }}</li></a>
			        {% endfor %}
				</ul>
				
				<!-- Testing pagination -->
				<br>
				<div class="pagination">					
					<span class="step-links">
						{% if categories.has_previous %}
							<a href="?page=1">&laquo; First</a>
							<a href="?page={{ categories.previous_page_number }}">Prev</a>
						{% endif %}
				
						<span class="current">
							Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
						</span>
				
						{% if categories.has_next %}
							<a href="?page={{ categories.next_page_number }}">Next</a>
							<a href="?page={{ categories.paginator.num_pages }}">Last &raquo;</a>
						{% endif %}
					</span>
				</div>

			</div>
    	</div>
    </div>    
</div>

    
{% endblock %}