{% extends "BookBarnApp/base.html" %}
    <!-- Change link above -->

{% block body_block %}
    

    <div class="container mainContainer">
        
        <div class="row">
            <div class="col-4">
                <div class="categoryListWrapper">
                    <h5 class="categoryListHeader">Book Categories</h5> 
                    <ul class="categoryList">
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000002' %}"><li class="categoryListItem">Fiction</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000000' %}"><li class="categoryListItem">Classics</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000006' %}"><li class="categoryListItem">Literature</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000009' %}"><li class="categoryListItem">Historical</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000010' %}"><li class="categoryListItem">Cultural</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000016' %}"><li class="categoryListItem">European Literature</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000012' %}"><li class="categoryListItem">Non-Fiction</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000011' %}"><li class="categoryListItem">Fantasy</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000001' %}"><li class="categoryListItem">Plays</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000014' %}"><li class="categoryListItem">Philosophy</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000007' %}"><li class="categoryListItem">Young Adult</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000003' %}"><li class="categoryListItem">Romance</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000005' %}"><li class="categoryListItem">Drama</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000004' %}"><li class="categoryListItem">Academic</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000019' %}"><li class="categoryListItem">History</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000024' %}"><li class="categoryListItem">Novels</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000079' %}"><li class="categoryListItem">Contemporary</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000040' %}"><li class="categoryListItem">Science Fiction</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000008' %}"><li class="categoryListItem">Poetry</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000059' %}"><li class="categoryListItem">Mystery</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000041' %}"><li class="categoryListItem">Childrens</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000020' %}"><li class="categoryListItem">Religion</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000015' %}"><li class="categoryListItem">Humor</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000029' %}"><li class="categoryListItem">Politics</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000036' %}"><li class="categoryListItem">Adventure</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000018' %}"><li class="categoryListItem">Biography</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000055' %}"><li class="categoryListItem">Horror</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000035' %}"><li class="categoryListItem">Autobiography</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000039' %}"><li class="categoryListItem">Short Stories</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000053' %}"><li class="categoryListItem">Gothic</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000051' %}"><li class="categoryListItem">Adult</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000025' %}"><li class="categoryListItem">Writing</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000033' %}"><li class="categoryListItem">Adult Fiction</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000013' %}"><li class="categoryListItem">Science</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000083' %}"><li class="categoryListItem">Thriller</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000071' %}"><li class="categoryListItem">Paranormal</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000057' %}"><li class="categoryListItem">Abandoned</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000060' %}"><li class="categoryListItem">Literary Fiction</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000022' %}"><li class="categoryListItem">Spirituality</li></a>
                        <a class="categoryListLink" href="{% url 'categoryView' gid='G500000037' %}"><li class="categoryListItem">War</li></a>
                    </ul>
                    <a href="{% url 'categoryListView' %}"><button class="btn btn-success">More</button></a>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="categoryHead">                      
                            <h4>Showing you {{ books|length }} book{{ books|pluralize }}</h4> <hr>
                        </div>
                    </div>
                </div>
                

                {% for book in books %}
                <div class="categoryResultShelf">
                    <div class="row">
                        <div class="col-3">
                            <div class="categoryBookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid" height="100" width="100"></a>
                            </div>
                        </div>
                        <div class="col">
                            <ul>
                                <li><strong>Title : {{ book.bookTitle }}</strong></li>
                                <li>ISBN : {{ book.isbn }}</li>
                                <li>GoodReads Rating : {{ book.rating }}</li>
                                <li>Language : {{ book.language }}</li>
                                <li>Price : &#8377; {{book.price}}</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                {% endfor %}


                <!-- Testing pagination -->
				<br>
				<div class="pagination">					
					<span class="step-links">
						{% if books.has_previous %}
							<a href="?page=1">&laquo; First</a>
							<a href="?page={{ books.previous_page_number }}">Prev</a>
						{% endif %}
				
						<span class="current">
							Page {{ books.number }} of {{ books.paginator.num_pages }}.
						</span>
				
						{% if books.has_next %}
							<a href="?page={{ books.next_page_number }}">Next</a>
							<a href="?page={{ books.paginator.num_pages }}">Last &raquo;</a>
						{% endif %}
					</span>
				</div>

            </div>
        </div>


    </div>


{% endblock %}