{% extends "BookBarnApp/base.html" %}
    <!-- Change link above -->

{% block head_block %}

{% endblock %}

{% block body_block %}


<div class="container mainContainer">
    <div class="row">
    	<div class="col">
    		<div class="categoryListWrapper categoryListWrapperCenter">
    			<ul class="categoryList">
			        {% for category in categories %}
			         <a class="categoryListLink" href="{% url 'categoryView' gid=category.gid %}"><li class="categoryListItem">{{ category.gName }}</li></a>
			        {% endfor %}
			    </ul>
    		</div>
    	</div>
    </div>    
</div>

    
{% endblock %}