{% extends "BookBarnApp/base.html" %}


{% block head_block %}

{% endblock %}


{% block body_block %}
    


     


<div class="container mainContainer">
    <div class="row">        
        <div class="col-4">
            <div class="categoryListWrapper">
                <h5 class="categoryListHeader">Book Categories</h5> 
                <ul class="categoryList">
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000002' %}"><li class="categoryListItem">Fiction</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000000' %}"><li class="categoryListItem">Classics</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000006' %}"><li class="categoryListItem">Literature</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000009' %}"><li class="categoryListItem">Historical</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000010' %}"><li class="categoryListItem">Cultural</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000016' %}"><li class="categoryListItem">European Literature</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000012' %}"><li class="categoryListItem">Non-Fiction</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000011' %}"><li class="categoryListItem">Fantasy</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000001' %}"><li class="categoryListItem">Plays</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000014' %}"><li class="categoryListItem">Philosophy</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000007' %}"><li class="categoryListItem">Young Adult</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000003' %}"><li class="categoryListItem">Romance</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000005' %}"><li class="categoryListItem">Drama</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000004' %}"><li class="categoryListItem">Academic</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000019' %}"><li class="categoryListItem">History</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000024' %}"><li class="categoryListItem">Novels</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000079' %}"><li class="categoryListItem">Contemporary</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000040' %}"><li class="categoryListItem">Science Fiction</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000008' %}"><li class="categoryListItem">Poetry</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000059' %}"><li class="categoryListItem">Mystery</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000041' %}"><li class="categoryListItem">Childrens</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000020' %}"><li class="categoryListItem">Religion</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000015' %}"><li class="categoryListItem">Humor</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000029' %}"><li class="categoryListItem">Politics</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000036' %}"><li class="categoryListItem">Adventure</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000018' %}"><li class="categoryListItem">Biography</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000055' %}"><li class="categoryListItem">Horror</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000035' %}"><li class="categoryListItem">Autobiography</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000039' %}"><li class="categoryListItem">Short Stories</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000053' %}"><li class="categoryListItem">Gothic</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000051' %}"><li class="categoryListItem">Adult</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000025' %}"><li class="categoryListItem">Writing</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000033' %}"><li class="categoryListItem">Adult Fiction</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000013' %}"><li class="categoryListItem">Science</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000083' %}"><li class="categoryListItem">Thriller</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000071' %}"><li class="categoryListItem">Paranormal</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000057' %}"><li class="categoryListItem">Abandoned</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000060' %}"><li class="categoryListItem">Literary Fiction</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000022' %}"><li class="categoryListItem">Spirituality</li></a>
                    <a class="categoryListLink" href="{% url 'categoryView' gid='G500000037' %}"><li class="categoryListItem">War</li></a>
                </ul>
                <a href="{% url 'categoryListView' %}"><button class="btn btn-success">More</button></a>
            </div>
        </div>




        <div class="col">
            
            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in trending %}
                        <div class="col-2">
                            <div class="bookCover">
                                    <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>   
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            
            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular in Science Fiction</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in scific %}
                        <div class="col">
                            <div class="bookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>


            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular in Fiction</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in fiction %}
                        <div class="col">
                            <div class="bookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            
            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular in Romance</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in romance %}
                        <div class="col">
                            <div class="bookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>

            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular in Thriller</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in thriller %}
                        <div class="col">
                            <div class="bookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>

            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular in Drama</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in drama %}
                        <div class="col">
                            <div class="bookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>

            <div class="row bookShelf">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Popular in Mystery</p> <hr>
                        </div>
                    </div>

                    <div class="row">
                        {% for book in mystery %}
                        <div class="col">
                            <div class="bookCover">
                                <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
        </div>
    </div>  <!-- End of row level 1 -->


</div>
    


    
{% endblock %}