{% extends 'BookBarnApp/base.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}


<div class="container mainContainer">
	<div class="row loginPageHeading">
		<div class="col">
			<h4>Login to BookBarn</h4>
		</div>
	</div>
	<div class="row loginPageForm">
		<div class="col">
			<form id="login_form" method="post" action="{% url 'loginView' %}">
				{% csrf_token %}
				{{ form.as_p }}
				<input class="loginPageButton" type="submit" class="btn btn-success" value="Login" />
			</form>
		</div>
	</div>
</div>

{% endblock %}