{% extends 'BookBarnApp/base.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}

<div class="container mainContainer">
    
    <div class="row">
        <div class="col" style="text-align: center;">
            <h3>Your Cart</h3>
        </div>
    </div>
    
    {% if not count %}
    <div class="row">
        <div class="col" style="text-align: center; ">
            <hr><h6>There are no items in your cart!</h6>
        </div>
    </div>
    {% else %}
    
    <div class="row">
        <div class="col">
             <table class="table cartTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cartItems %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>

                            <div class="cartBookCover" style="float:left;">
                                <a href="{{ item.book.get_absolute_url }}"><img src="{{ item.book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                            </div>
                            <a class="cartBookLink" href="{% url 'bookView' item.book.isbn %}">
                                <span class="cartBookTitle">{{ item.book.bookTitle }}</span><br> 
                                <span class="cartBookAuthor">by {% for auth in item.book.authors.all %}
                                    {{ auth.get_full_name }}</span>
                                
                                {% endfor %}
                            </a>

                        </td>
                        <td>
                            
                            <a href="{% url 'CartApp:add_to_cart' item.book.isbn %}"><button class="plusMinusButtons">+</button></a>

                            <button class="quantityButton">{{ item.quantity }}</button>

                            <a href="{% url 'CartApp:remove_from_cart' item.book.isbn %}"><button class="plusMinusButtons">-</button></a>

                        </td>
                        <td>

                            <span>{{ item.quantity }} x &#8377;<span>{{ item.book.price }}</span> </span>

                        </td>
                    </tr>
                    {% endfor %}

                            
                  </tbody>
            </table>
            <hr>
        </div>
    </div>

    
    {% endif %}

    {% if cart.total > 0 %}  
    <div class="row">
        <div class="col">
            <div class="cartTotal">
                <h4>Total: <span class="cart_value">&#8377;{{ cart.total }}</span></h4> <hr>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="cartFinalButtons">
                <a href="{% url 'homeView' %}"><button class="loginPageButton">Continue Shopping</button></a>
                <a href="{% url 'CartApp:checkout' cart.id %}"><button class="loginPageButton">Checkout</button></a>
            </div>            
        </div>
    </div>
    {% endif %}
    
    
</div>

{% endblock %}