{% extends 'BookBarnApp/base.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}

<div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
  <div style="text-align: center; text-decoration: underline;">
      <h3>Your Cart</h3>
  </div>
  <div class="cart_container">
   {% for item in cartItems %}
      <div class="cart_item">
        <!-- <div class="bookCover">
            <a href="{{ item.book.get_absolute_url }}"><img src="{{ item.book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
        </div> -->
        <div class="cart_listing">
            <span class="title">{{ item.book.bookTitle }}</span> by
            {% for auth in item.book.authors.all %}
                {{ auth.get_full_name }}
            {% endfor %}
        </div>
        <div class="cart_price">
            <span class="cart_quantity">{{ item.quantity }} x &#8377;<span class="cart_value">{{ item.book.price }}</span> </span>
            Quantity: <a href="{% url 'CartApp:add_to_cart' item.book.isbn %}">[+]</a> / <a href="{% url 'CartApp:remove_from_cart' item.book.isbn %}">[-]</a>
        </div>
      </div>
   {% empty %}
      <div>
          There are no items in your cart!
      </div>
   {% endfor %}
   <!-- Show Total only if there is any item in the Cart -->
   {% if total > 0 %}     
       <div class="cart_total">
            <h4>Total: <span class="cart_value">&#8377;{{ total }}</span></h4>
        </div>
    <a href="{% url 'homeView' %}"><button class="btn btn-success">Continue Shopping</button></a>
    <a href="{% url 'CartApp:checkout' cart.id %}"><button class="btn btn-success">Checkout</button></a>
    {% endif %}
  </div>
</div>

{% endblock %}