{% extends 'BookBarnApp/base.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}
    
    <div class="container mainContainer">
        <div class="row">
            <div class="col">
                {%if request.GET.q%}
                <div class="searchHead">
                    <h4>Searched for: "<strong>{{ request.GET.q }}</strong>"</h4>
                    <hr>
                </div>
                
                {% endif %}
            </div>
        </div>
        
        {% for book in object_list %}

        <div class="searchResultShelf">
            <div class="row">
                <div class="col-3">
                    <div class="searchBookCover">
                        <a href="{{ book.get_absolute_url }}"><img src="{{ book.coverImage }}" alt="Book Cover" class="img-fluid"></a>
                    </div>                  
                </div>
                <div class="col">
                    <ul>
                        <li><strong>Title : {{ book.bookTitle }}</strong></li>
                        <li>Authors: {% for author in book.authors.all %} {{ author.get_full_name }} {% endfor %}</li>
                        <li>GoodReads Rating : {{ book.rating }}</li>
                        <li>Language : {{ book.language }}</li>
                        <li>Price : &#8377; {{book.price}}</li>
                    </ul> 
                </div>
            </div> 
        </div>

        {% empty %}
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h4>No Results Found.</h4>
                </div>
            </div>
        {% endfor %}
        
    </div>

{% endblock %}