/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Major Styles*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f4f4f4;

    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    font-family: 'Lato', sans-serif;
}

label {
    font-size: 0.8em;
}

/*Hiding Scrollbar*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

/*::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}
*/

/*For the Container*/
.mainContainer {
    padding: 100px 50px;
    background: #f4f4f4;
    min-height: 100%;

    -webkit-box-shadow: 0px 0px 108px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 108px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 108px -16px rgba(0,0,0,0.75);
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*LoginPage Owl*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.owl {
  margin: auto;
  margin-bottom: -9px;
  width: 211px;
  height: 108px;
  background-image: url("https://dash.readme.io/img/owl-login.png");
  position: relative;
}

.owl .hand {
  width: 34px;
  height: 34px;
  border-radius: 40px;
  background-color: #472d20;
  transform: scaleY(0.6);
  position: absolute;
  left: 14px;
  bottom: -8px;
  transition: 0.3s ease-out;
}

.owl .hand.password {
  transform: translateX(42px) translateY(-15px) scale(0.7);
}

.owl .hand.hand-r {
  left: 170px;
}

.owl .hand.hand-r.password {
  transform: translateX(-42px) translateY(-15px) scale(0.7);
}

.owl .arms {
  position: absolute;
  top: 58px;
  height: 41px;
  width: 100%;
  overflow: hidden;
}

.owl .arms .arm {
  width: 40px;
  height: 65px;
  background-image: url("https://dash.readme.io/img/owl-login-arm.png");
  position: absolute;
  left: 20px;
  top: 40px;
  transition: 0.3s ease-out;
}

.owl .arms .arm.password {
  transform: translateX(40px) translateY(-40px);
}

.owl .arms .arm.arm-r {
  left: 158px;
  transform: scaleX(-1);
}

.owl .arms .arm.arm-r.password {
  transform: translateX(-40px) translateY(-40px) scaleX(-1);
}




/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Navbar Styles*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*Navbar*/
.navBar {
    padding: 10px 150px;
    background: #f4f4f4;
    background: #F4F1EA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/*BrandName*/
.navbarBrand {
    color: #333333;
    font-size: 1.35em;
    padding: 0 4px;
    margin: 0 4px;
}

.navbarBrand:hover {
    color: #333333;
    text-decoration: none;
}

/*Links*/
.navbarLink {
    color: #333333;
    padding: 0 4px;
    margin: 0 4px;
}

.navbarLink:hover {
    color: #333333;
    text-decoration: none;
}

/*SearchForm*/
.navSearchForm {
    display: inline-block;
    padding: 0 4px;
    margin: 0 4px;
    margin-left: 40px;
}

.navSearchInput {
    vertical-align: middle;
    padding: 5px 5px;
    margin: 0 3px;
    min-width: 400px;

    margin-right: 0;
    border-radius: 3px 0 0 3px;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-right: 0;
}

.navSearchInput:focus {
    background-color: #ffffff;
}

.navSearchButton {
    padding: 6px 10px;
    margin: 0 3px;
    border: none;

    margin-left: 0;
    border-radius: 0 3px 3px 0;
    border-left: 0;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    color: #fff;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.navSearchButton:hover {
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*Buttons*/
.navLoginLink, .navSignupLink, .navUserLink, .navLogoutLink{
    float: right;
    padding: 0 3px;
    margin: 0 3px;
}

.navCartLink {
    float: right;
    padding: 0 3px;
    margin: 0 3px;
}

.navButton {
    border: none;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    padding: 4px 10px;
    margin: 2px 1px; 
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.1);
    outline: none;
    min-width: 80px;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.navButton:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}





/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Signup page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.signupPageHeading {
    text-align: center;
}

.signupPageForm {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.signupPageButton {
    border: none;
    margin: 10px auto;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    padding: 8px;
    min-width: 110px;
    border-radius: 6px;
    color: #ffffff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.1);
    outline: none;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.signupPageButton:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Login page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.loginPageHeading {
    text-align: center;
    margin: 50px 0;
}

.loginFormWrapper {
    background-color: #eeeeee;
    padding: 60px 35px;
    margin: auto;
    margin-top: -9px;
    border-radius: 7px;
 -webkit-box-shadow: 0px 8px 28px 4px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 28px 4px rgba(0,0,0,0.4);
box-shadow: 0px 8px 28px 4px rgba(0,0,0,0.4);
}

.loginPageForm {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.loginPageForm input {
    padding: 9px;
}

.loginPageButton {
    border: none;
    margin: 5px auto;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    padding: 8px;
    min-width: 110px;
    border-radius: 6px;
    color: #ffffff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.1);
    outline: none;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.loginPageButton:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Home Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*Wrapper*/
.categoryListWrapper {
    padding: 0 5px;
    margin: 0 50px 0 0;
    border-radius: 5px;
    text-align: center;
}

/*Header*/
.categoryListHeader {
    text-align: center;
    margin: 0 0 25px 0;
}

/*List ul*/
.categoryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*Links a*/
.categoryListLink {
    color: #333333;
}

.categoryListLink:hover {
    color: #333333;
    text-decoration: none;
}

/*List items li*/
.categoryListItem {
    padding: 5px;
    margin: 5px;
    text-align: center;

    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #dfdfdf;

    transition: margin 0.1s, padding 0.1s;
    -webkit-transition: margin 0.1s, padding 0.1s;
    -moz-transition: margin 0.1s, padding 0.1s;
    -ms-transition: margin 0.1s, padding 0.1s;
    -o-transition: margin 0.1s, padding 0.1s;
}

.categoryListItem:hover {
    padding: 7px;
    margin: 4px;
    margin-bottom: 7px;
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0,0.2);
}

/*Books Display on Right*/
.bookShelf {
    padding-bottom: 35px;
    margin: 0 auto;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*CategoryList Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.categoryListWrapperCenter {
    margin: 0 30%;
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*BookDetails Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*Left Items*/
.bookDetailsLeftWrapper {
/*    background-color: gray;*/
    margin: 0 10px;
    padding: 0 5px;
    text-align: center;
}

.bookCoverMain {
    margin: 0 auto;
    padding: 15px 0;
}

.bookCoverMain img {
    min-width: 100%;
    min-height: 100%;;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
}

.tableWrapper {
    margin: 5px auto;
    color: #fff;
}

.addToCartButtonWrapper {
    text-align: center;
}

.addToCartButton {
    width: 100%;
}

tbody {
    border-collapse: separate !important;
    border-radius: 55px;
}

/*Right Items*/
.bookDetailsRightWrapper {
/*    background-color: #cccccc;*/
    margin: 0 15px;
    padding: 10px 30px;
}




/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*BookCover style*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.bookCover {
    width: 100%;
    height: 100%;
    padding: 7px 3px;
    margin: 3px 0;
    transition: margin 0.1s, padding 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}


.bookCover a img {
    min-width: 100%;
    min-height: 100%;;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
}

.bookCover:hover {
    width: 100%;
    height: 100%;
    padding: 4px 0px;
    margin: 3px 0 ;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*SearchResult Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.searchHead {
    text-align: center;
}

.searchResultShelf {
    background-color: #dfdfdf;
    margin: 25px 20%;
    padding: 25px 30px;
    border-radius: 5px;
    height: 220px;
}

.searchBookCover a {
    display: inline-block;
    height: 120px;
    width: 100px;
}

.searchBookCover a img {
    min-width: 100%;
    min-height: 100%;;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Category Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.categoryHead {
    text-align: center;
}

.categoryResultShelf {
    background-color: #dfdfdf;
    margin: 25px 5%;
    padding: 25px 30px;
    border-radius: 5px;
    height: 220px;
}

.categoryBookCover a {
    display: inline-block;
    height: 120px;
    width: 100px;
}

.categoryBookCover a img {
    min-width: 100%;
    min-height: 100%;;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Profile Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.profileHead{
    text-align: center
}

.profileOption {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.profileOptionLink {

}

.profileOptionButton {
    border: none;
    padding: 50px;
    width: 60%;
    color: #333333;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 5px;
    box-shadow: 4px 5px 3px -1px rgba(0, 0, 0,0.2);

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.profileOptionButton:hover {
    box-shadow: 6px 7px 5px 0px rgba(0, 0, 0,0.3);
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Cart Home Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*Book Cover*/
.cartBookCover {
    margin: 0 20px;
}

.cartBookCover a {
    display: inline-block;
    height: 120px;
    width: 100px;
}

.cartBookCover a img {
    min-width: 100%;
    min-height: 100%;;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.6);
}


/*Cart Table*/
.cartTable {
    margin-top: 30px;
}

.cartTable thead tr th {

}

.cartTable tbody tr {
    height: 190px;
}


/*Book Info*/
.cartBookLink {
    color: #333333;
}

.cartBookLink:hover {
    color: #333333;
    text-decoration: none;
}

.cartBookTitle {
    font-size: 1.2em;
}

/*Buttons*/

.quantityButton {
    border: none;
    background-color: #d6d6d6;
    border-radius: 4px;
    padding: 8px 18px;
    margin: 0 1px;
    box-shadow: 4px 5px 3px -1px rgba(0, 0, 0,0.2);
    font-size: 1.2em;
}

.plusMinusButtons {
    border: none;
    background-color: #dddddd;
    border-radius: 4px;
    padding: 7px 15px;
    margin: 0 1px;
    box-shadow: 4px 5px 3px -1px rgba(0, 0, 0,0.2);

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.plusMinusButtons:hover {
    box-shadow: 6px 7px 5px 0px rgba(0, 0, 0,0.3);
}


/*End Buttons*/

.cartTotal {
    padding: 20px;
    margin-left: 75%;
    text-align: center;
}

.cartFinalButtons {
    padding: 20px;
    text-align: center;
}

.cartFinalButtons a button {
    margin: 10px;
    min-width: 160px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Checkout Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.checkoutModule {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
}

.checkoutModule input {
    margin: 10px;
    margin-left: 0;
}

.moduleTitle {
    padding: 10px;
}

.default_address {
    padding: 30px 50px;
    font-size: 1.1em;
}

.checkoutFinalButtons {
    padding: 20px;
    text-align: center;
}

.checkoutFinalButtons a button {
    margin: 0 10px;
    min-width: 160px;
}

.checkoutFinalButtons input {
    margin: 0 10px;
    min-width: 160px;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*OrderHistory Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.detailBold {
    font-weight: 600;
}

.orderDetails {
    padding: 0 150px;
}


