/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Major Styles*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f4f4f4;

    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    font-family: 'Lato', sans-serif;
}

.mainContainer {
    padding: 100px 50px;
    background: #f4f4f4;
    -webkit-box-shadow: 0px 0px 108px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 108px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 108px -16px rgba(0,0,0,0.75);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Navbar Styles*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*Navbar*/
.navBar {
    padding: 10px 150px;
    background: #f4f4f4;
    background: #F4F1EA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/*BrandName*/
.navbarBrand {
    color: #333333;
    font-size: 1.35em;
    padding: 0 4px;
    margin: 0 4px;
}

.navbarBrand:hover {
    color: #333333;
    text-decoration: none;
}

/*Links*/
.navbarLink {
    color: #333333;
    padding: 0 4px;
    margin: 0 4px;
}

.navbarLink:hover {
    color: #333333;
    text-decoration: none;
}

/*SearchForm*/
.navSearchForm {
    display: inline-block;
    padding: 0 4px;
    margin: 0 4px;
    margin-left: 40px;
}

.navSearchInput {
    vertical-align: middle;
    padding: 3px 5px;
    margin: 0 3px;
    min-width: 250px;

    margin-right: 0;
    border-radius: 3px 0 0 3px;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-right: 0;
}

.navSearchInput:focus {
    background-color: #ffffff;
}

.navSearchButton {
    padding: 5px 10px;
    margin: 0 3px;
    border: none;

    margin-left: 0;
    border-radius: 0 3px 3px 0;
    border-left: 0;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    color: #fff;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.navSearchButton:hover {
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*Buttons*/
.navLoginLink, .navSignupLink, .navUserLink, .navLogoutLink{
    float: right;
    padding: 0 3px;
    margin: 0 3px;
}

.navCartLink {
    float: right;
    padding: 0 3px;
    margin: 0 3px;
}

.navButton {
    border: none;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    padding: 4px 10px;
    margin: 2px 1px; 
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.1);
    outline: none;
    min-width: 80px;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.navButton:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}





/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Signup page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.signupPageHeading {
    text-align: center;
}

.signupPageForm {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.signupPageButton {
    border: none;
    margin: 10px auto;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    padding: 8px;
    min-width: 110px;
    border-radius: 6px;
    color: #ffffff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.1);
    outline: none;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.signupPageButton:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Login page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.loginPageHeading {
    text-align: center;
    margin: 50px 0;
}

.loginPageForm {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.loginPageButton {
    border: none;
    margin: 5px auto;
    background: -webkit-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: -o-linear-gradient(62deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    background: linear-gradient(152deg, rgba(0, 188, 255, 0.78), rgba(0, 142, 255, 1));
    padding: 8px;
    min-width: 110px;
    border-radius: 6px;
    color: #ffffff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.1);
    outline: none;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.loginPageButton:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        /*Home Page*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.categoryListWrapper {
    padding: 30px 5px;
    margin: 0 50px 0 0;
    border-radius: 5px;
    text-align: center;
}

.categoryListHeader {
    text-align: center;
    margin: 0 0 25px 0;
}

.categoryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categoryListLink {
    color: #333333;
}

.categoryListLink:hover {
    color: #333333;
    text-decoration: none;
}

.categoryListItem {
    padding: 5px;
    margin: 5px;
    text-align: center;

    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #dfdfdf;

    transition: margin 0.1s, padding 0.1s;
    -webkit-transition: margin 0.1s, padding 0.1s;
    -moz-transition: margin 0.1s, padding 0.1s;
    -ms-transition: margin 0.1s, padding 0.1s;
    -o-transition: margin 0.1s, padding 0.1s;
}

.categoryListItem:hover {
    padding: 8px;
    margin: 3px;
    box-shadow: 0px 5px 3px -1px rgba(0, 0, 0,0.2);
}
